/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h3, h4, h5, h6 { margin: 10px 0; }
p { margin: 10px 0; }

a {
  color: #66a;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover, a:visited {
  color: #858;
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  width: 100%;
  height: auto;
}

pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.4em;
  overflow: auto;
}

code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

pre code {
  font-size: 14px;
}

::selection {
  background: #a00;
  color: #fff;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.pagination {
  border-top: 1px solid silver;
  margin: 10px 0 10px 19.5804%;
}

.pagination div {
  background: #fff;
  margin-top: -13px;
}

.previous {
  float: left;
  border-right: 1px solid silver;
  padding-right: 15px;
}

.next {
  float: right;
  border-left: 1px solid silver;
  padding-left: 15px;
}

.disabled {
  color: #ccc;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  color: #666;
  font-size: 115%;
  line-height: 1.5;
  text-align: justify;
  width: 100%;
}
  .site .header {
    background: rgb(175, 175, 175);
    color: #fff;
    overflow: hidden;
    width: 100%;
  }
    .site .inner-header {
      margin: 0 5%;
      padding-top: 30px;
      width: 90%;
    }
      .site h1 {
        font: 60px/70px 'Lobster13Regular', Arial, sans-serif;
        letter-spacing: 0;
        padding-left: 2.475%;
      }
        .site h1 a {
          color: #fff;
          text-decoration: none;
        }

      .site .nav {
        float: right;
        list-style: none;
        margin: -23px 0 0;
        overflow: hidden;
        padding-right: 0.99%;
      }
        .site .nav li {
          float: left;
          list-style: none;
          margin: 0 0 0 30px;
        }
          .site .nav a {
            border-bottom: 4px solid #fff;
            color: #fff;
            display: block;
            font-size: 14px;
            font-weight: normal;
            text-decoration: none;
            text-transform: uppercase;
          }
          .site .nav a:hover {
            border-bottom-color: rgb(175, 175, 175);
          }

  .site .contain {
    width: 90%;
    margin: 0 5%;
  }
    .site .main {
      width: 70.792%;
      padding: 1.98% 3.465% 1.98% 2.475%;
      overflow: hidden;
    }
      .site .post {
        margin-bottom: 60px;
        padding-bottom: 20px;
        overflow: hidden;
      }
        .site .post h2, .site h2.result-header {
          width: 80.419%;
          padding: 0 0 10px 19.5804%;
          border-bottom: 1px solid #999;
          clear: both;
          line-height: 1;
          font-weight: normal;
          font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif
        }
        .site h2.result-header{
          border-bottom: none;
          font-size: 200%;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .site .post .meta {
          float: left;
          width: 13.2867%;
          margin: 1em 0;
          font-size: 85%;
        }
          .site .meta .cate {
            border: 1px dotted #999;
            border-width: 1px 0;
            margin: 10px 0;
            padding: 10px 0;
          }
          .site .meta .tag {
            border: 1px dotted #999;
            border-width: 0 0 1px;
            margin: 0 0 10px;
            padding: 0 0 10px;
          }
            .site .meta .tag ul {
              list-style: none;
              margin: 0;
            }
            .site .meta a {
              border-bottom: 1px dotted #999;
              color: #666;
            }

        .site .post .text {
          margin-left: 19.5804%;
          padding-bottom: 40px;
          width: 80.4196%;
        }
        .site .post .next-month {
          margin-bottom: 40px;
          clear: both;
        }
          .site .post .next-month .text {
            border-left: 10px solid silver;
            list-style: none;
            margin-top: 10px;
            padding: 0 0 0 5px;
          }
            .site .post .next-month .meta {
              font-size: 36px;
              margin-top: -10px;
            }

    .site .sidebar {
      width: 18.812%;
      padding: 1.98% 0.99% 1.98% 3.465%;
      float: right;
    }
      .sidebar .category,
      .sidebar .archive,
      .sidebar .tag {
        margin-bottom: 1.75em;
      }
        .site .sidebar h3 {
          border-bottom: 1px solid #999;
          font-size: 100%;
          line-height: 1;
          margin: 18px 0 0;
        }
        .site .sidebar ul {
          border-left: 10px solid silver;
          list-style: none;
          margin: 1em 0 0;
          padding: 0 0 0 5px;
        }

  .site .footer {
    clear: both;
    color: #666;
    font-size: 80%;
    margin: 0 5%;
    width: 90%;
  }
    .site .inner-footer {
      border-top: 1px solid silver;
      margin-left: 16.3%;
      text-align: center;
      width: 56.8%;
    }

.site ul, .site ol {
  margin-left: 1.35em;
}

.site ul.inline, .site ol.inline {
  list-style: none;
  margin-left: 0;
}

.site ul.inline > li,
.site ol.inline > li {
  display: inline-block;
  padding: 0 5px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.4em;
  overflow: auto;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post .tag-boxes {
  margin-top: 10px;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Comments
/*
/*****************************************************************************/

#disqus_thread {
  border-top: 4px solid #eee;
  margin: 60px 0 0 19.5804%;
  padding-top: 30px;
}

/*****************************************************************************/
/*
/* Response
/*
/*****************************************************************************/

@media (max-width: 768px) {
  .site .sidebar {
    display: none;
  }

  .site .main {
    float: none;
    padding: 1.98% 0 1.98% 0;
    width: 100%;
  }

  .site h1 {
    font: 30px/1 'Lobster13Regular',Arial,sans-serif;
    padding-left: 0;
  }

  .pagination {
    margin-left: 0;
  }

  .site .footer {
    padding: 1.98% 0 1.98% 0;
  }

  .site .inner-footer {
    margin-left: 0;
    width: 100%;
  }

  #disqus_thread {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 546px) {
  .site .header {
    text-align: center;
    width: auto;
  }

  .site .nav {
    border-top: 1px solid #fff;
    float: none;
    margin: 20px 0 0;
    padding: 0;
  }

  .site .nav li {
    float: none;
    margin: 0;
  }

  .site .nav a {
    border-bottom: 1px solid #fff;
  }
  .site .nav a:hover {
    background: rgb(255, 255, 255);
    color: rgb(175, 175, 175);
  }

  .site .post h2,
  .site h2.result-header {
    width: auto;
    padding: 0 0 10px;
  }

  .site .post .meta {
    float: none;
    width: auto;
  }

  .site .post .text {
    margin: 0;
    width: auto;
  }
}

/*****************************************************************************/
/*
/* Icon
/*
/*****************************************************************************/
.icon {
  background-image: url(../images/glyphicons-halflings.png);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 14px;
  margin-top: 1px;
  height: 14px;
  width: 14px;
  vertical-align: text-top;
}
.icon-glass{background-position:0 0;}
.icon-music{background-position:-24px 0;}
.icon-search{background-position:-48px 0;}
.icon-envelope{background-position:-72px 0;}
.icon-heart{background-position:-96px 0;}
.icon-star{background-position:-120px 0;}
.icon-star-empty{background-position:-144px 0;}
.icon-user{background-position:-168px 0;}
.icon-film{background-position:-192px 0;}
.icon-th-large{background-position:-216px 0;}
.icon-th{background-position:-240px 0;}
.icon-th-list{background-position:-264px 0;}
.icon-ok{background-position:-288px 0;}
.icon-remove{background-position:-312px 0;}
.icon-zoom-in{background-position:-336px 0;}
.icon-zoom-out{background-position:-360px 0;}
.icon-off{background-position:-384px 0;}
.icon-signal{background-position:-408px 0;}
.icon-cog{background-position:-432px 0;}
.icon-trash{background-position:-456px 0;}
.icon-home{background-position:0 -24px;}
.icon-file{background-position:-24px -24px;}
.icon-time{background-position:-48px -24px;}
.icon-road{background-position:-72px -24px;}
.icon-download-alt{background-position:-96px -24px;}
.icon-download{background-position:-120px -24px;}
.icon-upload{background-position:-144px -24px;}
.icon-inbox{background-position:-168px -24px;}
.icon-play-circle{background-position:-192px -24px;}
.icon-repeat{background-position:-216px -24px;}
.icon-refresh{background-position:-240px -24px;}
.icon-list-alt{background-position:-264px -24px;}
.icon-lock{background-position:-287px -24px;}
.icon-flag{background-position:-312px -24px;}
.icon-headphones{background-position:-336px -24px;}
.icon-volume-off{background-position:-360px -24px;}
.icon-volume-down{background-position:-384px -24px;}
.icon-volume-up{background-position:-408px -24px;}
.icon-qrcode{background-position:-432px -24px;}
.icon-barcode{background-position:-456px -24px;}
.icon-tag{background-position:0 -48px;}
.icon-tags{background-position:-25px -48px;}
.icon-book{background-position:-48px -48px;}
.icon-bookmark{background-position:-72px -48px;}
.icon-print{background-position:-96px -48px;}
.icon-camera{background-position:-120px -48px;}
.icon-font{background-position:-144px -48px;}
.icon-bold{background-position:-167px -48px;}
.icon-italic{background-position:-192px -48px;}
.icon-text-height{background-position:-216px -48px;}
.icon-text-width{background-position:-240px -48px;}
.icon-align-left{background-position:-264px -48px;}
.icon-align-center{background-position:-288px -48px;}
.icon-align-right{background-position:-312px -48px;}
.icon-align-justify{background-position:-336px -48px;}
.icon-list{background-position:-360px -48px;}
.icon-indent-left{background-position:-384px -48px;}
.icon-indent-right{background-position:-408px -48px;}
.icon-facetime-video{background-position:-432px -48px;}
.icon-picture{background-position:-456px -48px;}
.icon-pencil{background-position:0 -72px;}
.icon-map-marker{background-position:-24px -72px;}
.icon-adjust{background-position:-48px -72px;}
.icon-tint{background-position:-72px -72px;}
.icon-edit{background-position:-96px -72px;}
.icon-share{background-position:-120px -72px;}
.icon-check{background-position:-144px -72px;}
.icon-move{background-position:-168px -72px;}
.icon-step-backward{background-position:-192px -72px;}
.icon-fast-backward{background-position:-216px -72px;}
.icon-backward{background-position:-240px -72px;}
.icon-play{background-position:-264px -72px;}
.icon-pause{background-position:-288px -72px;}
.icon-stop{background-position:-312px -72px;}
.icon-forward{background-position:-336px -72px;}
.icon-fast-forward{background-position:-360px -72px;}
.icon-step-forward{background-position:-384px -72px;}
.icon-eject{background-position:-408px -72px;}
.icon-chevron-left{background-position:-432px -72px;}
.icon-chevron-right{background-position:-456px -72px;}
.icon-plus-sign{background-position:0 -96px;}
.icon-minus-sign{background-position:-24px -96px;}
.icon-remove-sign{background-position:-48px -96px;}
.icon-ok-sign{background-position:-72px -96px;}
.icon-question-sign{background-position:-96px -96px;}
.icon-info-sign{background-position:-120px -96px;}
.icon-screenshot{background-position:-144px -96px;}
.icon-remove-circle{background-position:-168px -96px;}
.icon-ok-circle{background-position:-192px -96px;}
.icon-ban-circle{background-position:-216px -96px;}
.icon-arrow-left{background-position:-240px -96px;}
.icon-arrow-right{background-position:-264px -96px;}
.icon-arrow-up{background-position:-289px -96px;}
.icon-arrow-down{background-position:-312px -96px;}
.icon-share-alt{background-position:-336px -96px;}
.icon-resize-full{background-position:-360px -96px;}
.icon-resize-small{background-position:-384px -96px;}
.icon-plus{background-position:-408px -96px;}
.icon-minus{background-position:-433px -96px;}
.icon-asterisk{background-position:-456px -96px;}
.icon-exclamation-sign{background-position:0 -120px;}
.icon-gift{background-position:-24px -120px;}
.icon-leaf{background-position:-48px -120px;}
.icon-fire{background-position:-72px -120px;}
.icon-eye-open{background-position:-96px -120px;}
.icon-eye-close{background-position:-120px -120px;}
.icon-warning-sign{background-position:-144px -120px;}
.icon-plane{background-position:-168px -120px;}
.icon-calendar{background-position:-192px -120px;}
.icon-random{background-position:-216px -120px;width:16px;}
.icon-comment{background-position:-240px -120px;}
.icon-magnet{background-position:-264px -120px;}
.icon-chevron-up{background-position:-288px -120px;}
.icon-chevron-down{background-position:-313px -119px;}
.icon-retweet{background-position:-336px -120px;}
.icon-shopping-cart{background-position:-360px -120px;}
.icon-folder-close{background-position:-384px -120px;}
.icon-folder-open{background-position:-408px -120px;width:16px;}
.icon-resize-vertical{background-position:-432px -119px;}
.icon-resize-horizontal{background-position:-456px -118px;}
.icon-hdd{background-position:0 -144px;}
.icon-bullhorn{background-position:-24px -144px;}
.icon-bell{background-position:-48px -144px;}
.icon-certificate{background-position:-72px -144px;}
.icon-thumbs-up{background-position:-96px -144px;}
.icon-thumbs-down{background-position:-120px -144px;}
.icon-hand-right{background-position:-144px -144px;}
.icon-hand-left{background-position:-168px -144px;}
.icon-hand-up{background-position:-192px -144px;}
.icon-hand-down{background-position:-216px -144px;}
.icon-circle-arrow-right{background-position:-240px -144px;}
.icon-circle-arrow-left{background-position:-264px -144px;}
.icon-circle-arrow-up{background-position:-288px -144px;}
.icon-circle-arrow-down{background-position:-312px -144px;}
.icon-globe{background-position:-336px -144px;}
.icon-wrench{background-position:-360px -144px;}
.icon-tasks{background-position:-384px -144px;}
.icon-filter{background-position:-408px -144px;}
.icon-briefcase{background-position:-432px -144px;}
.icon-fullscreen{background-position:-456px -144px;}