/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  background: rgb(240, 240, 240);
}

h1 { margin-bottom: 1em; }
h2, h3, h4, h5, h6 { margin-bottom: 10px; }
p { margin: 1em 0; }

a { 
  color: #a00;
  text-decoration: none;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  width: 100%;
  height: auto;
}

pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.4em;
  overflow: auto;
}

code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

pre code {
  font-size: 14px;
}

::selection {
  background: #a00;
  color: #fff;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.readmore {
  text-transform: uppercase;
}

.pagination {
  overflow: hidden;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.disabled {
  color: #ccc;
}

.post h2 a {
  color: #666;
}

.post h2 a:hover {
  color: #000;
}

.post .tag-boxes {
  margin-bottom: 10px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  background: #fff;
  background: rgba(255, 255, 255, .9);
  font-size: 115%;
  text-align: justify;
  max-width: 960px;
  margin: 3% auto 2%;
  padding: 3% 2.5% 1.5%;
  line-height: 1.5em;
  -webkit-box-shadow: 2px 2px 8px #aaa;
  -moz-box-shadow: 2px 2px 8px #aaa;
  box-shadow: 2px 2px 8px #aaa;
}

.site .header {
  border-bottom: 4px solid #eee;
  margin-bottom: 2px;
}

.site .main {
  border-top: 2px solid #eee;
  padding-top: 4em;
  overflow: hidden;
}

.site .content {
  float: left;
  width: 68%;
}

.site .sidebar {
  float: right;
  width: 25%;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  font-size: 2.5em;
  margin-bottom: 0;
}

.site .header h1.title a {
  color: #a00;
  display: block;
  margin-bottom: .6em;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .nav {
  display: none;
}

.site .nav ul {
  list-style: none;
  margin: 5px 0;
}

.site .nav li {
  display: inline-block;
}

.site .nav a {
  font-weight: bold;
  padding: 5px 10px;
}

.site .nav li:first-child a {
  padding-left: 0;
}

.site .nav li:last-child a {
  padding-right: 0;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  clear: both;
  color: #666;
  border-top: 4px solid #eee;
  font-size: 80%;
  margin-top: 2em;
  overflow: hidden;
}

.site h2 {
  margin-bottom: 1em;
}

.site ul, .site ol {
  margin-left: 1.35em;
}

.site ul.inline, .site ol.inline {
  list-style: none;
  margin-left: 0;
}

.site ul.inline > li,
.site ol.inline > li {
  display: inline-block;
  padding: 0 5px;
}

.site .post {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}

/* tag_box */
.tag_box {
  list-style: none;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}

/* sidebar */
.sidebar .category, .sidebar .archive, .sidebar .tag {
  margin-bottom: 1.75em;
}

.sidebar ul.tag_box {
  margin-left: 0;
}

.sidebar h2 a {
  color: #666;
}

.sidebar h2 a:hover {
  color: #000;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.4em;
  overflow: auto;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post .tag-boxes {
  margin-top: 10px;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Pages
/*
/*****************************************************************************/

#page {
  min-height: 580px;
}

#page ul {
  margin-bottom: 10px;
}

#page li {
  line-height: 1.75em;
}

/*****************************************************************************/
/*
/* Comments
/*
/*****************************************************************************/

#disqus_thread {
  border-top: 4px solid #eee;
  margin-top: 4em;
  padding-top: 2em;
}

/*****************************************************************************/
/*
/* Response
/*
/*****************************************************************************/

@media (max-width: 1024px) {
  body {
    background: #fff;
  }
  
  .site {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .site .nav {
    display: block;
  }

  .site .content {
    float: none;
    width: 100%;
  }

  .site .sidebar,
  .site .header a.extra,
  .post .tag-boxes ul:nth-child(2) {
    display: none;
  }
}

/*****************************************************************************/
/*
/* Icon
/*
/*****************************************************************************/
.icon {
  background-image: url(../images/glyphicons-halflings.png);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 14px;
  margin-top: 3px;
  height: 14px;
  width: 14px;
  vertical-align: text-top;
}
.icon-glass{background-position:0 0;}
.icon-music{background-position:-24px 0;}
.icon-search{background-position:-48px 0;}
.icon-envelope{background-position:-72px 0;}
.icon-heart{background-position:-96px 0;}
.icon-star{background-position:-120px 0;}
.icon-star-empty{background-position:-144px 0;}
.icon-user{background-position:-168px 0;}
.icon-film{background-position:-192px 0;}
.icon-th-large{background-position:-216px 0;}
.icon-th{background-position:-240px 0;}
.icon-th-list{background-position:-264px 0;}
.icon-ok{background-position:-288px 0;}
.icon-remove{background-position:-312px 0;}
.icon-zoom-in{background-position:-336px 0;}
.icon-zoom-out{background-position:-360px 0;}
.icon-off{background-position:-384px 0;}
.icon-signal{background-position:-408px 0;}
.icon-cog{background-position:-432px 0;}
.icon-trash{background-position:-456px 0;}
.icon-home{background-position:0 -24px;}
.icon-file{background-position:-24px -24px;}
.icon-time{background-position:-48px -24px;}
.icon-road{background-position:-72px -24px;}
.icon-download-alt{background-position:-96px -24px;}
.icon-download{background-position:-120px -24px;}
.icon-upload{background-position:-144px -24px;}
.icon-inbox{background-position:-168px -24px;}
.icon-play-circle{background-position:-192px -24px;}
.icon-repeat{background-position:-216px -24px;}
.icon-refresh{background-position:-240px -24px;}
.icon-list-alt{background-position:-264px -24px;}
.icon-lock{background-position:-287px -24px;}
.icon-flag{background-position:-312px -24px;}
.icon-headphones{background-position:-336px -24px;}
.icon-volume-off{background-position:-360px -24px;}
.icon-volume-down{background-position:-384px -24px;}
.icon-volume-up{background-position:-408px -24px;}
.icon-qrcode{background-position:-432px -24px;}
.icon-barcode{background-position:-456px -24px;}
.icon-tag{background-position:0 -48px;}
.icon-tags{background-position:-25px -48px;}
.icon-book{background-position:-48px -48px;}
.icon-bookmark{background-position:-72px -48px;}
.icon-print{background-position:-96px -48px;}
.icon-camera{background-position:-120px -48px;}
.icon-font{background-position:-144px -48px;}
.icon-bold{background-position:-167px -48px;}
.icon-italic{background-position:-192px -48px;}
.icon-text-height{background-position:-216px -48px;}
.icon-text-width{background-position:-240px -48px;}
.icon-align-left{background-position:-264px -48px;}
.icon-align-center{background-position:-288px -48px;}
.icon-align-right{background-position:-312px -48px;}
.icon-align-justify{background-position:-336px -48px;}
.icon-list{background-position:-360px -48px;}
.icon-indent-left{background-position:-384px -48px;}
.icon-indent-right{background-position:-408px -48px;}
.icon-facetime-video{background-position:-432px -48px;}
.icon-picture{background-position:-456px -48px;}
.icon-pencil{background-position:0 -72px;}
.icon-map-marker{background-position:-24px -72px;}
.icon-adjust{background-position:-48px -72px;}
.icon-tint{background-position:-72px -72px;}
.icon-edit{background-position:-96px -72px;}
.icon-share{background-position:-120px -72px;}
.icon-check{background-position:-144px -72px;}
.icon-move{background-position:-168px -72px;}
.icon-step-backward{background-position:-192px -72px;}
.icon-fast-backward{background-position:-216px -72px;}
.icon-backward{background-position:-240px -72px;}
.icon-play{background-position:-264px -72px;}
.icon-pause{background-position:-288px -72px;}
.icon-stop{background-position:-312px -72px;}
.icon-forward{background-position:-336px -72px;}
.icon-fast-forward{background-position:-360px -72px;}
.icon-step-forward{background-position:-384px -72px;}
.icon-eject{background-position:-408px -72px;}
.icon-chevron-left{background-position:-432px -72px;}
.icon-chevron-right{background-position:-456px -72px;}
.icon-plus-sign{background-position:0 -96px;}
.icon-minus-sign{background-position:-24px -96px;}
.icon-remove-sign{background-position:-48px -96px;}
.icon-ok-sign{background-position:-72px -96px;}
.icon-question-sign{background-position:-96px -96px;}
.icon-info-sign{background-position:-120px -96px;}
.icon-screenshot{background-position:-144px -96px;}
.icon-remove-circle{background-position:-168px -96px;}
.icon-ok-circle{background-position:-192px -96px;}
.icon-ban-circle{background-position:-216px -96px;}
.icon-arrow-left{background-position:-240px -96px;}
.icon-arrow-right{background-position:-264px -96px;}
.icon-arrow-up{background-position:-289px -96px;}
.icon-arrow-down{background-position:-312px -96px;}
.icon-share-alt{background-position:-336px -96px;}
.icon-resize-full{background-position:-360px -96px;}
.icon-resize-small{background-position:-384px -96px;}
.icon-plus{background-position:-408px -96px;}
.icon-minus{background-position:-433px -96px;}
.icon-asterisk{background-position:-456px -96px;}
.icon-exclamation-sign{background-position:0 -120px;}
.icon-gift{background-position:-24px -120px;}
.icon-leaf{background-position:-48px -120px;}
.icon-fire{background-position:-72px -120px;}
.icon-eye-open{background-position:-96px -120px;}
.icon-eye-close{background-position:-120px -120px;}
.icon-warning-sign{background-position:-144px -120px;}
.icon-plane{background-position:-168px -120px;}
.icon-calendar{background-position:-192px -120px;}
.icon-random{background-position:-216px -120px;width:16px;}
.icon-comment{background-position:-240px -120px;}
.icon-magnet{background-position:-264px -120px;}
.icon-chevron-up{background-position:-288px -120px;}
.icon-chevron-down{background-position:-313px -119px;}
.icon-retweet{background-position:-336px -120px;}
.icon-shopping-cart{background-position:-360px -120px;}
.icon-folder-close{background-position:-384px -120px;}
.icon-folder-open{background-position:-408px -120px;width:16px;}
.icon-resize-vertical{background-position:-432px -119px;}
.icon-resize-horizontal{background-position:-456px -118px;}
.icon-hdd{background-position:0 -144px;}
.icon-bullhorn{background-position:-24px -144px;}
.icon-bell{background-position:-48px -144px;}
.icon-certificate{background-position:-72px -144px;}
.icon-thumbs-up{background-position:-96px -144px;}
.icon-thumbs-down{background-position:-120px -144px;}
.icon-hand-right{background-position:-144px -144px;}
.icon-hand-left{background-position:-168px -144px;}
.icon-hand-up{background-position:-192px -144px;}
.icon-hand-down{background-position:-216px -144px;}
.icon-circle-arrow-right{background-position:-240px -144px;}
.icon-circle-arrow-left{background-position:-264px -144px;}
.icon-circle-arrow-up{background-position:-288px -144px;}
.icon-circle-arrow-down{background-position:-312px -144px;}
.icon-globe{background-position:-336px -144px;}
.icon-wrench{background-position:-360px -144px;}
.icon-tasks{background-position:-384px -144px;}
.icon-filter{background-position:-408px -144px;}
.icon-briefcase{background-position:-432px -144px;}
.icon-fullscreen{background-position:-456px -144px;}