---
layout: default
---

<div id="post" class="post">
	<h2>{{ page.title }}</h2>
    <ul class="meta">
        <li class="date">
        	{{ page.date | date_to_string }}</li>
	        {% assign categories_list = page.categories %}
	        {% include category.md %}
        <li class="tag">
          	<ul>
	            {% assign tags_list = page.tags %}
	            {% include tag.md %}
          	</ul>
        </li>
    </ul>
	<div class="text">
		{{ content }}
	</div>
</div>

{% if page.comments %}
	{% include comment.md %}
{% endif %}
