---
layout: default
---

<h2 class="result-header">All the articles by "{{ page.tag }}" tag:</h2>
{% for post in site.tags[page.tag] %}
	<div class="post">
    	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    	<ul class="meta">
    		<li class="date">
        		{{ post.date | date_to_string }}</li>
        		{% assign categories_list = post.categories %}
        		{% include category.md %}
    	    <li class="tag">
        		<ul>
        			{% assign tags_list = post.tags %}
        			{% include tag.md %}
        		</ul>
    		</li>
    	</ul>
    	<div class="text">{{ post.content }}</div>
    </div>
{% endfor %}